QSplitter::handle:horizontal{
	width: 1px;
	background: black;
}
QSplitter::handle:vertical
{
	height: 1px;
	background: black;
}
QSplitter::handle:pressed {
	background: red;
}	


#widgetBody{
	background: url(":/test/res/test/chatBg.jpg");
}

#widgetContentRightBottom,#widgetContentRightBottomGroup{
	background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,
		stop:0 rgba(255,255,255,0.7),stop:1 rgba(255,255,255,1));
}


#textEditMessageList,#textEditMessageInput,
#textEditMessageListGroup,#textEditMessageInputGroup{
	border:none;
	background: transparent;
}


/*#stackedWidgetInfo,
#stackedWidgetGroupInfo{
	border-left: 1px solid black;
}*/

#toolButtonClose,
#toolButtoMin,
#toolButtonMax,
#toolButtonWindowSetting{
	background: transparent;
	border:none;
}

#toolButtonClose:hover{
	background: red;
}

#toolButtoMin:hover,
#toolButtonMax:hover,
#toolButtonWindowSetting:hover{
	background: rgba(0,0,0,0.1);
}

#toolButtonEmoji:hover,
#toolButtonFile:hover,
#toolButtonFullScreen:hover,
#toolButtonGif:hover,
#toolButtonImage:hover,
#toolButtonMQFile:hover,
#toolButtonMessageRecord:hover,
#toolButtonMore:hover,
#toolButtonScreenShot:hover,
#toolButtonWindowShake:hover,
#toolButtonEmojiGroup:hover,
#toolButtonFileGroup:hover,
#toolButtonFullScreenGroup:hover,
#toolButtonGifGroup:hover,
#toolButtonImageGroup:hover,
#toolButtonMQFileGroup:hover,
#toolButtonMessageRecordGroup:hover,
#toolButtonMoreGroup:hover,
#toolButtonScreenShotGroup:hover,
#toolButtonWindowShakeGroup:hover{
	background: rgba(0,0,0,0.1);
	border:none;
}



#widgetMessageBody,
#widgetContentGroup{
	border-right: 1px solid black;
}

#widgetMessageListToolsGroup{
	border-bottom: 1px solid black;
}

#pushButtonClose,
#pushButtonCloseGroup{
	border:1px solid rgb(203,204,208);
	background: rgb(253,253,255);
	border-radius: 4px;
}

#pushButtonSend,#toolButtonSendMenu{
	border:none;
	background: rgb(176,156,227);
	border-right: 1px solid white;
}

#pushButtonSend{
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#toolButtonSendMenu{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#toolButtonSendMenu::menu-indicator{
	image:none;
}

#pushButtonSend:hover,#toolButtonSendMenu:hover{
	background: rgb(193,178,233);
}


#pushButtonClose:hover,
#pushButtonCloseGroup:hover{
	background: rgb(239,239,240);
}

#labelCurrentObjName{
	padding-top: 5px;
	border:none;
	background: transparent;
}

#labelCurrentObjName:hover{
	border-bottom: 1px solid black;
}


/*左边聊天对象列表*/
#toolButtonAddObj{
	background: transparent;
	border:none;
	border-radius: 3px;
}

#toolButtonAddObj:hover,#toolButtonAddObj:checked{
	background: rgba(0,0,0,0.1);
}


#lineEditSearch{
	background: rgba(255,255,255,0.1);
	border:none;
	border-radius: 4px;
}

#lineEditSearch:focus{
	background: white;
}

#listWidgetChatObjList{
	border:none;
	background: transparent;	
}


QListView#listWidgetChatObjList{
	outline: 0px;
	background: transparent;
}

QListView#listWidgetChatObjList::item:hover{
	background:	rgba(0,0,0,30);
}

QListView#listWidgetChatObjList::item:selected{
	background:	rgba(0,0,0,50);
	border-left: 3px solid aqua;
}



#listWidgetMessageList{
	border:none;
	background:transparent;
}

QListView#listWidgetMessageList{
	outline: 0px;
	background: transparent;
}

QListView#listWidgetMessageList::item:hover{
	background:	transparent;
}

QListView#listWidgetMessageList::item:selected{
	background: transparent;
}

#stackedWidgetMain{
	background: transparent;
}

/* test */

/*#widgetMessageList{
	border:1px solid red;
}

#widgetMessageListTools{
	border:2px solid blue;
}*/