
QMenu{
    background-color: rgba(255,255,255,0.9);
    border-radius:5px;
    width:155px;
    padding: 5px 0;
}

#userMenu {
    height: 453px;
}
#sectionMenu {
    height: 265px;
}

#groupMenu{
    height:;
}

#groupSectionMenu::item{
    padding: 0px 16px;
    width: 140px;
}

QMenu::item {
    height: 30px;
    padding: 0px 34px;
    border: 1px solid transparent;
}

QMenu::item:selected {
    background:rgb(238,238,238);
}

QMenu::icon { 
    margin: 0px 10px;
}

QMenu::separator {
    height: 1px;
    background: rgb(237,237,237);
}
