QMenu {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    padding: 5px 0;
    border: 1px solid gray;
}

#groupSectionMenu::item {
    padding:0px 16px;
}


QMenu::item {
    height: 30px;
    padding: 0 34px;
    border: 1px solid transparent;
}

QMenu::item:selected {
    background: rgb(238, 238, 238);
    border-right: 1px solid gray;
}

QMenu::icon {
    margin: 0 0 0 10px;
}

QMenu::separator {
    height: 1px;
    background: rgb(237, 237, 237);
}

QMenu::right-arrow{
    image:url(":/main/res/main/arrow-right.png");
    padding-right: 10px;
}