/*vertical scroll bar*/
QScrollBar:vertical{
    background: transparent;
    width:8px;
    margin:0 0 0 2px;
}

QScrollBar::handle:vertical{
    min-height:20px;
    border-radius:2px;
}

QScrollBar::handle:vertiacl:hover{
    background:rgba(0,0,0,0.2);
}

QScrollBar::add-line:vertical{
    height:0px;
    subcontrol-position:bottom;
    subcontrol-origin:margin;

}

QScrollBar::sub-line:vertical{
    height:0px;
    subcontrol-position:top;
    subcontrol-origin:margin;

}
